body, html {
	margin: 0;
	padding: 0;
	font-family:  'Quando', serif;
	background-image:url('http://i.imgur.com/Eourq.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/*height: 100%;
	width: 100%;*/
}

/*div img {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}*/

div.aboutme {
	background-color: rgba(255,255,255,.5);	
	min-height: 60%;
	float: right;
	position: relative;
	border: 1px none;
	width: 25%;
	padding: 20px;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 5px;
}

div.me {
	background-color: rgba(255,255,255,.5);	
	float:	left;
	position: fixed;
	border-right: 1px none;
	width: 50%;
	padding: 20px;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 5px;
	clear: both;
}

.me img {
	max-width: 40%;
	max-width: 50%;
}

.profilepic {
	text-align: center;
}

footer {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-bottom: 10px;
	color: #fff;
}

a {
	text-decoration: none;
}

div h1#name {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

button {
	opacity: 1;
	background-color: aliceblue;
	width:100%;
	opacity: none;
}